{{#each blogPosts}}
  <a href="/blog/{{this.id}}" class="text-decoration-none text-dark">
    <div class="card mb-4 p-4">
      <div class="card-body">
        <h2 class="card-title">{{this.title}}</h2>
        <h6 class="card-subtitle mb-2 text-muted">By
          {{this.user.name}}
          on
          {{formatDate this.createdAt}}</h6>
        <p class="card-text mt-4">{{this.content}}</p>
      </div>
    </div>
  </a>
{{/each}}