{{#each blogPosts}}
  <a href="/blog/{{this.id}}">
    <div class="row align-center mb-5">
      <div class="col-md-6">
        <h2>{{this.title}}</h2>
      </div>
      <div class="col-md-6">
        <p>By {{this.user.name}} on {{formatDate this.createdAt}}</p>
      </div>
      <p>{{this.content}}</p>
    </div>
  </a>
{{/each}}